{{ ansible_managed | comment }}

PidFile=/var/run/zabbix/zabbix_agentd.pid
LogType=system
#LogFile=/var/log/zabbix-agent/zabbix_agentd.log
#LogFileSize=10
Server={{ zabbix_server }}
ServerActive={{ zabbix_server }}
Hostname={{ansible_hostname }}
Include=/etc/zabbix/zabbix_agentd.conf.d/*.conf
